
{% extends "layout.html" %}

{% block content %}

    <div>
        <div>
            <h2>作者信息</h2>
            <ul>
                <li>姓名：Charlotte</li>
                <li>职位：CEO</li>
                <li>联系方式：Welcom.you@haha.com</li>
            </ul>
        </div>
        <div>
            <h2>友情链接</h2>
            <ul>
                <li>
                    <a href="#">安全客</a>
                </li>
                <li> <a href="#">安全客111</a></li>
                <li> <a href="#">安全客222222</a></li>
                <li> <a href="#">安全客333333333</a></li>
                <li> <a href="#">安全客4</a></li>
            </ul>
        </div>
    </div>

{% endblock %}