
{% extends "layout.html" %}


{% block content %}

    <div class="container">
        <h4>当前拥有图书：黑客与画家</h4>
        <ul class="nav nav-tabs">
            <li>
                <a href="#one" data-toggle="tab">第一章</a>
            </li>
            <li>
                <a href="#two" data-toggle="tab">第二章</a>
            </li>
            <li>
                <a href="#three" data-toggle="tab">第三章</a>
            </li>
            <li>
                <a href="#four" data-toggle="tab">第四章</a>
            </li>
            <li>
                <a href="#five" data-toggle="tab">第五章</a>
            </li>
            <li>
                <a href="#six" data-toggle="tab">第六章</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade" id="one">
            <p>展示第一章的内容</p>
            <p>展示第一章的内容</p>
            <p>展示第一章的内容</p>
            <p>展示第一章的内容</p>
        </div>
        <div class="tab-pane fade" id="two">
            <p>展示第二章的内容</p>
            <p>展示第二章的内容</p>
            <p>展示第二章的内容</p>
            <p>展示第二章的内容</p>
        </div>
        <div class="tab-pane fade" id="three">
            <p>展示第三章的内容</p>
            <p>展示第三章的内容</p>
            <p>展示第三章的内容</p>
            <p>展示第三章的内容</p>
            <p>展示第三章的内容</p>
            <p>展示第三章的内容</p>
            <p>展示第三章的内容</p>
        </div>
        <div class="tab-pane fade" id="four">
            <p>展示第四章的内容</p>
            <p>展示第四章的内容</p>
            <p>展示第四章的内容</p>
            <p>展示第四章的内容</p>
            <p>展示第四章的内容</p>
            <p>展示第四章的内容</p>
            <p>展示第四章的内容</p>
            <p>展示第四章的内容</p>
        </div>
        <div class="tab-pane fade" id="five">
            <p>展示第五章的内容</p>
            <p>展示第五章的内容</p>
            <p>展示第五章的内容</p>
            <p>展示第五章的内容</p>
            <p>展示第五章的内容</p>
            <p>展示第五章的内容</p>
            <p>展示第五章的内容</p>
        </div>
        <div class="tab-pane fade" id="six">
            <p>展示第六章的内容</p>
            <p>展示第六章的内容</p>
            <p>展示第六章的内容</p>
            <p>展示第六章的内容</p>
            <p>展示第六章的内容</p>
            <p>展示第六章的内容</p>
            <p>展示第六章的内容</p>
            <p>展示第六章的内容</p>
        </div>
    </div>
    

{% endblock %}